# Text-mining on webscraped phone reviews (iPhone + Samsung)

### Group members:

Allesandro Girelli

Cyprien Nielly

Katie Chang

Sebastien Moeller

Viktor Malesevic

### Introduction:

The aim of this project is to do text-mining and analysis on phone reviews from different webpages (Amazon, Reddit, Influenster, etc...) in order to provide advice to phone manufacturers on potential issues faced by customers.

# Part 1: Webscraping the data

We decided to webscrape Amazon reviews, which we did on R using the 'rvest' package.

The results is found in the csv file 'Reviews.csv'. This file concatenates data from iPhone X, iPhone 8, and Samsung S8 reviews.

# Part 2: Pre-processing the webscraped data

#### Before reading the data we import some usefull libraries:

In [1]:
# Pandas for data manipulation
import pandas as pd

# nltk for all text data pre-processing

#nltk.download()
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk import pos_tag

**NOTA**: the nltk package needs to be download thanks to the command 'nltk.download()' which then opens a window. On this window click on 'all packages' and then 'download'.

Now we import the dataset:

In [2]:
data = pd.read_csv('Reviews.csv', encoding = 'ISO-8859-1')

In [7]:
data.head()

,Unnamed: 0,source,product,comments,stars
0,1,Amazon,Samsung S8,BEWARE!99% of the negative reviews are SELLER ...,5.0
1,2,Amazon,Samsung S8,So far the best phone I ever had. Man it's be...,5.0
2,3,Amazon,Samsung S8,I was skeptical about buying this phone off Am...,5.0
3,4,Amazon,Samsung S8,This phone should be a no-brainer. Easily the ...,3.0
4,5,Amazon,Samsung S8,I haven't owned a Galaxy phone since the Galax...,4.0

In [11]:
del data['Unnamed: 0']

In [13]:
data.head()

,source,product,comments,stars
0,Amazon,Samsung S8,BEWARE!99% of the negative reviews are SELLER ...,5.0
1,Amazon,Samsung S8,So far the best phone I ever had. Man it's be...,5.0
2,Amazon,Samsung S8,I was skeptical about buying this phone off Am...,5.0
3,Amazon,Samsung S8,This phone should be a no-brainer. Easily the ...,3.0
4,Amazon,Samsung S8,I haven't owned a Galaxy phone since the Galax...,4.0

In [14]:
data.describe()

             stars
count  5746.000000
mean      4.320745
std       1.247721
min       1.000000
25%       4.000000
50%       5.000000
75%       5.000000
max       5.000000

#### So far we have a dataset of 5700 reviews, composed of 4 columns:

The source: Amazon

The product: iPhone 8, iPhone X or Samsung S8

The review: raw text written by the customer

The rating: from 1 to 5 stars.